<div class="wrapper">
    <div class="section section-features"> <!-- Parte 1 -->
        <div class="container">
            <div class="logo-container" align="center">
                <div class="logo">
                    <%= link_to image_tag('logo_preto_q.jpg')%>
                </div>
            </div>
            <p align="center">
                Telas mosquiteiras feitas sob medida para manter sua família ou seu negócio longe dos insetos</p>
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-gray">
                        <div class="icon">
                            <i class="fa fa-check-square-o" style="color:green"></i>
                        </div>
                        <div class="text">
                            <h4>Proteção</h4>
                            <p>Proteje contra os insetos transmissores da dengue, zica e chikungunya com eficácia e de maneira discreta, sem comprometer o visual.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-gray">
                        <div class="icon">
                            <i class="fa fa-check-square-o" style="color:green"></i>
                        </div>
                        <h4>Qualidade</h4>
                        <p>Trabalha com telas de qualidade, importadas, com material sintético composto de fibra de vidro revestida com pvc.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-gray">
                        <div class="icon">
                            <i class="fa fa-check-square-o" style="color:green"></i>
                        </div>
                        <h4>Soluções</h4>
                        <p>Proporciona um serviço personalizado e a solução ideal para atender às suas necessidades.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-gray">
                        <div class="icon">
                            <i class="fa fa-check-square-o" style="color:green"></i>
                        </div>
                        <h4>Durabilidade</h4>
                        <p>Oferece durabilidade e transparência sem impedir a passagem do ar ou do sol.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Fim Parte 1 -->

    <div class="section section-gray section-clients"> <!-- Parte 2 -->
        <div class="container text-center">
            <h4 class="header-text">Mosquitex</h4>
            <p align="justify">
                A Mosquitex faz a instalação de telas mosquiteiras feitas sob medida para proteger sua casa ou empresa contra a ação de insetos. Trabalhamos com telas importadas (USA - marca Saint Gobain) de alta qualidade, feitas com material sintético composto de fibra de vidro revestida com pvc, que possuem uma trama homogênea e resistente, oferecendo durabilidade e transparência sem impedir a passagem do ar e nem do sol. Nossas telas são seguras, atóxicas, fáceis de limpar, resistentes à maresia, não desfiam, criam mofo ou propagam fogo e protegem contra os insetos causadores da dengue, zika e chikungunya com eficácia e de maneira discreta, sem comprometer o visual de suas portas e janelas.<br></p>                      
            <p align="left" style="margin-left:6em;">     
                Aplicações:<br>
                <i class="fa fa-arrow-right" aria-hidden="true"></i> Em velcro<br>
                <i class="fa fa-arrow-right" aria-hidden="true"></i> Emolduradas<br>
                <i class="fa fa-arrow-right" aria-hidden="true"></i> Com perfil de alumínio</p>
            <p align="left" style="margin-left:11em; font-size:9pt; margin-top:-1em;">
            <i class="fa fa-asterisk" aria-hidden="true" style="font-size:6pt"></i> Podem ser encaixadas em portas de correr</p>
        </div>                
    </div><!-- Fim Parte 2 -->
    
    <div class="section section-testimonial"> <!-- Parte 3 -->
        <div class="container">
            <h4 class="header-text text-center">Nossas Telas Mosquiteiras</h4>
            <div id="carousel-example-generic" class="carousel fade" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item">
                        <div class="mask">
                            <%= link_to image_tag('todos_insetos_fora.jpg')%>
                        </div>
                        <div class="carousel-testimonial-caption">
                            <h6>Impede a entrada de qualquer tipo de inseto</h6>
                        </div>
                    </div>
                    <div class="item active">
                        <div class="mask">
                            <%= link_to image_tag('perfil_alu.jpg')%>
                        </div>
                        <div class="carousel-testimonial-caption">
                            <h6>Além do perfil em alumínio natural (fosco), trabalhamos com as cores preta, branca e bronze</h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="mask">
                            <%= link_to image_tag('emoldurada.jpg')%>
                        </div>
                        <div class="carousel-testimonial-caption">
                            <h6>Janela de banheiro com tela emoldurada</h6>

                        </div>
                    </div>
                    <div class="item">
                        <div class="mask">
                            <%= link_to image_tag('velcro_solto.jpg')%>
                        </div>
                        <div class="carousel-testimonial-caption">
                            <h6>Tela com aplicação em velcro</h6>
                        </div>
                    </div>
                </div>
                    <ol class="carousel-indicators carousel-indicators-blue">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>

                </ol>
            </div>
        </div>
    </div> <!-- Fim Parte 3 -->
    
    <div class="section section-no-padding"> <!-- Parte 4 -->
        <div class="parallax filter-gradient blue" data-color="blue">
            <div class="info">
                <h1>Orçamento sem compromisso</h1>
                <h6>(para a grande João Pessoa)</h6>
                <div class="social-area">
                    <p align="center" style="font-size:25pt;">
                    <i class="fa fa-phone-square" aria-hidden="true" style="font-size:35pt"></i>
                    (83) 9-9612-7474<br>
                    <i class="fa fa-envelope" aria-hidden="true" style="font-size:35pt"></i>
                    mosquitex.pb@gmail.com</p><br>            
                </div>
                <div class="social-area pull-center">
                    <a href="https://www.facebook.com/mosquitex/" target="_blank">
                    <i class="fa fa-facebook-square" aria-hidden="true" style="font-size:35pt; color:white; margin-right:20px;"></i></a>
                    <a href="https://instagram.com/mosquitex" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true" style="font-size:35pt; color:white;"></i></a>
                </div>  
                <p align="center" style="font-size:15pt;"> João Pessoa - Paraíba </p>
            </div>
        </div>
    </div> <!-- Fim Parte 4 -->
</div> <!-- Fim wrapper -->