<div class="wrapper">
    <div class="section section-features"> <!-- Parte 1 -->
        <div class="container">
            <!-- Quebra 1 para colocar o fone -->
            <div class="col-md-2">
            </div>
            <div class="col-md-8">    
                <div class="logo-container" align="center">
                    <div class="logo">
                        <%= link_to image_tag('logo_preto_PBTelas.jpg', alt:'Logo Mosquitex')%>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="social-area">
                    <p align="center" style="font-size:11pt;">
                    (83) 9 9600-2200<br>
                    pbtelas@gmail.com</p>           
                </div>
                <div class="social-area pull-center" align="center">
                    <a href="https://www.facebook.com/mosquitex/" target="_blank">
                    <i class="fa fa-facebook-square" aria-hidden="true" style="font-size:20pt; color:black; margin-right:10px;"></i></a>
                    <a href="https://instagram.com/mosquitex" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true" style="font-size:20pt; color:black;"></i></a>
                </div>
            </div>
            
            <!-- Quebra 2 completa para o texto -->
            <div class="col-md-12">
            <p align="center">
                Telas mosquiteiras feitas sob medida para manter sua família ou seu negócio longe dos insetos</p>
            </div>
            
            <!-- Quebra 3 para os blocos! -->

            <div class="row">
                <div class="col-md-3">
                    <div class="card card-gray">
                        <div class="icon">
                            <i class="fa fa-check-square-o" style="color:green"></i>
                        </div>
                        <div class="text">
                            <h4>Proteção</h4>
                            <p>Proteje contra os insetos transmissores da dengue, zica e chikungunya com eficácia e de maneira discreta, sem comprometer o visual.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-gray">
                        <div class="icon">
                            <i class="fa fa-check-square-o" style="color:green"></i>
                        </div>
                        <h4>Qualidade</h4>
                        <p>Trabalha com telas de qualidade, importadas, com material sintético composto de fibra de vidro revestida com pvc.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-gray">
                        <div class="icon">
                            <i class="fa fa-check-square-o" style="color:green"></i>
                        </div>
                        <h4>Soluções</h4>
                        <p>Proporciona um serviço personalizado e a solução ideal para atender às suas necessidades.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-gray">
                        <div class="icon">
                            <i class="fa fa-check-square-o" style="color:green"></i>
                        </div>
                        <h4>Durabilidade</h4>
                        <p>Oferece durabilidade e transparência sem impedir a passagem do ar ou do sol.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Fim Parte 1 -->

    <div class="section section-gray section-clients"> <!-- Parte 2 -->
        <div class="container text-center">
            <h4 class="header-text">Mosquitex</h4>
            <p align="justify">
                A Mosquitex instala telas mosquiteiras feitas sob medida para proteger sua casa ou empresa contra a ação de insetos. Trabalhamos com telas importadas (USA - marca Saint Gobain) de alta qualidade, feitas com material sintético composto de fibra de vidro revestida com pvc, que possuem uma trama homogênea e resistente, oferecendo durabilidade e transparência sem impedir a passagem do ar e nem do sol. Nossas telas não desfiam, não criam mofo nem propagam fogo; são seguras, atóxicas, fáceis de limpar, resistentes à maresia e protegem contra pragas urbanas (baratas, escorpiões, aranhas, ratos, lagartas etc.) e contra o mosquito transmissor da dengue, zika e chikungunya com eficácia e de maneira discreta, sem comprometer o visual de suas portas e janelas.<br></p>                      
            <p align="left" style="margin-left:6em;">     
                Aplicações:<br>
                <i class="fa fa-arrow-right" aria-hidden="true"></i> Em velcro<br>
                <i class="fa fa-arrow-right" aria-hidden="true"></i> Em perfil de alumínio<br>
                <i class="fa fa-arrow-right" aria-hidden="true"></i> Porta de correr em alumínio<br>
                <i class="fa fa-arrow-right" aria-hidden="true"></i> Porta abre e fecha em alumínio</p>
        </div>                
    </div><!-- Fim Parte 2 -->
    
    <div class="section section-testimonial"> <!-- Parte 3 -->
        <div class="container">
            <h4 class="header-text text-center">Nossas Telas Mosquiteiras</h4>
            <div id="carousel-example-generic" class="carousel fade" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active"><!-- Imagem 0 -->
                        <div class="mask">
                            <%= link_to image_tag('zica.jpg', alt:'Mosquito transmissor da dengue, zika e chikungunya')%>
                        </div>
                        <div class="carousel-testimonial-caption">
                            <h6>Mantém o mosquito transmissor da dengue, zika e chikungunya do lado de fora</h6>
                        </div>
                    </div><!-- Imagem 0 -->
                    <div class="item"><!-- Imagem 1 -->
                        <div class="mask">
                            <%= link_to image_tag('todos_insetos_fora.jpg', alt:'Tela Mosquiteira mantém insetos fora')%>
                        </div>
                        <div class="carousel-testimonial-caption">
                            <h6>Impede a entrada de qualquer tipo de inseto</h6>
                        </div>
                    </div><!-- Imagem 1 -->
                    <div class="item"><!-- Imagem 2 -->
                        <div class="mask">
                            <%= link_to image_tag('perfil_alu.jpg', alt:'Perfis em alumínio')%>
                        </div>
                        <div class="carousel-testimonial-caption">
                            <h6>Além do perfil em alumínio natural (fosco), trabalhamos com as cores preta, branca e bronze</h6>
                        </div>
                    </div><!-- Imagem 2 -->
                    <div class="item"><!-- Imagem 3 -->
                        <div class="mask">
                            <%= link_to image_tag('esquadria_borboleta.jpg', alt:'Perfis em alumínio esquadria e borboletas')%>
                        </div>
                        <div class="carousel-testimonial-caption">
                            <h6>Esquadria branca fixada com "borboletas" que permitem a retirada da tela a qualquer momento.</h6>
                        </div>
                    </div><!-- Imagem 3 -->
                    <div class="item"><!-- Imagem 4 -->
                        <div class="mask">
                            <%= link_to image_tag('porta.jpg', alt:'Porta alumínio')%>
                        </div>
                        <div class="carousel-testimonial-caption">
                            <h6>Porta em alumínio bronze</h6>
                        </div>
                    </div><!-- Imagem 4 -->
                    <div class="item"><!-- Imagem 5 -->
                        <div class="mask">
                            <%= link_to image_tag('velcro_solto.jpg', alt:'Tela em velcro')%>
                        </div>
                        <div class="carousel-testimonial-caption">
                            <h6>Tela com aplicação em velcro</h6>
                        </div>
                    </div><!-- Imagem 5 -->
                    <div class="item"><!-- Imagem 6 -->
                        <div class="mask">
                            <%= link_to image_tag('varanda_curva.jpg', alt:'Varanda curva')%>
                        </div>
                        <div class="carousel-testimonial-caption">
                            <h6>Tela mosquiteira aplicada em varanda curva</h6>
                        </div>
                    </div><!-- Imagem 6 -->
                </div>
                <ol class="carousel-indicators carousel-indicators-blue">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                </ol>
            </div>
        </div>
    </div> <!-- Fim Parte 3 -->
    
    <div class="section section-no-padding"> <!-- Parte 4 -->
        <div class="parallax filter-gradient blue" data-color="blue">
            <div class="info"><br>
                <h3>Orçamento sem compromisso!</h3>
                <div class="social-area">
                    <p align="center" style="font-size:20pt;">
                    <i class="fa fa-phone-square" aria-hidden="true" style="font-size:18pt"></i>
                    (83) 9 9600-2200<br>
                    <i class="fa fa-envelope" aria-hidden="true" style="font-size:18pt"></i>
                    pbtelas@gmail.com</p><br>           
                </div>
                <div class="social-area pull-center">
                    <a href="https://www.facebook.com/mosquitex/" target="_blank">
                    <i class="fa fa-facebook-square" aria-hidden="true" style="font-size:45pt; color:white; margin-right:50px;"></i></a>
                    <a href="https://instagram.com/mosquitex" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true" style="font-size:45pt; color:white;"></i></a><br>
                    <!--acompanhe nossas redes sociais-->
                </div>  
                <p align="center" style="font-size:15pt;"> João Pessoa - Paraíba </p>
            </div>
        </div>
    </div> <!-- Fim Parte 4 -->
</div> <!-- Fim wrapper -->